* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}
body {
    color: white;
    background: rgb(106, 107, 161, .3);
    background-repeat: no-repeat;
    background-image: url(https://images.pexels.com/photos/5240544/pexels-photo-5240544.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-size: cover;
    background-position: center center;
}
h1 {
    background: rgb(86, 87, 129);
    padding: 1rem 2rem;
    color: white;
    border-radius: 10px;
    margin-left: 4rem;
}
.navbar {
    background-color: rgb(0, 0, 0);
    color: white;
    position: fixed;
    top: 0px;
    width: 100%;
    display: flex;
    z-index: 10;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}
.navbar ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-right: 4rem;
}
.navbar .navbar-item #first-item{
    background: #37AF65;
    color: black;
}
.navbar .navbar-item #first-item:hover{
    background-color: #226d3f;
}
.navbar .navbar-item #last-item:hover{
    background-color: rgb(86, 87, 129);
}
.navbar .navbar-item a{
    text-decoration: none;
    color: white;
    padding: 1rem .5rem;
}
.navbar ul li {
    margin-left: 1rem;
    border-radius: 5px;
    background-color: #6A6BA1;
    padding: 1rem .5rem;
}
.texto-princ {
    display: block;
    text-align: center;
    padding: 1rem;
    margin-top: 6rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    text-shadow: 0.1rem 0.1rem 0.2rem black;
}
h2 {
    margin-bottom: .8rem;
}
form {
    background-color: rgb(41, 41, 72, 0.9);
    color: white;
    width: 50%;
    margin: 0% 25%;
    padding: 2.5rem;
    border-radius: 0.25rem;
    font-size: 1.25rem;
} 
form .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    justify-content: space-around;
}
.input-radio, .input-check {
    min-height: 1.25rem;
    margin-right: 0.5rem;
}
input, select, option, textarea {
    padding: .8rem;
    border-radius: 0.25rem;
    font-size: 1.125rem;
    margin-top: 0.5rem;
}
.input-radio, .input-check{
    display: inline-block;
    min-width: 1.25rem;
}
#checkbtn {
    display: flex;
    flex-direction: column;
}
button {
    width: 100%;
    color: white;
    background-color: #37AF65;
    padding: 1rem 0rem;
    font-weight: 500;
    font-size: 1.125rem;
}
button:hover {
    background-color: #24944f;
    cursor: pointer;
}
/* input, textarea{
    width: 100%;
    border-radius: 5px;
    padding: .375rem .75rem;
} */
